$blizblue: #009ae4;
$gray: gray;
$white: white;
$black: black;
$modal: rgba(21,26,35,.95);
$translucent-text: rgba(255, 255, 255, 0.3);
$bliz-navbar-color: rgba(255, 255, 255, 0.8);
$nav-link-color: rgba(255, 255, 255, 0.7);
$nav-border-color: rgba(255, 255, 255, 0.08);

$news-border-color: rgb(122, 122, 204);
$news-link-color: rgb(204, 153, 255);

body {
  background-color: black;
  overflow-x: hidden;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: $nav-link-color;
  text-decoration: none;

  &:hover {
    color: $white;
  }
}

.bliz-navbar {
  align-items: center;
  background-color: $black;
  color: $bliz-navbar-color;
  display: none;
  height: 40px;
  justify-content: space-between;
  padding: 0 40px;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.bliz-navbar-left {
  display: flex;
  align-items: center;
}

.bliz-navbar-right {
  display: flex;
}

.blizlogo-link {
  height: 28px;
  margin-right: 30px;
}

.blizlogo {
  color: $blizblue;
  display: inline-block;
  fill: $blizblue;
  height: 28px;
}

.dropdown-button {
  margin-left: 2px;
  width: 14px;
  fill: $gray;
}

.bliz-navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.bliz-navbar-link {
  display: flex;
  align-items: center;
  height: 40px;
  margin-right: 20px;

  &:hover, &:hover .dropdown-button {
    fill: $white;
    color: $white;
  }
}

.games-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.games-list-link {

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  width: 71px;
  height: 130px;
  margin: 0 15px;
  padding-top: 30px;

  &:hover .game-icon {
    filter: brightness(1.15) contrast(.9);
  }
}

.game-icon {
  width: 64px;
}

.my-account-link {
  margin-right: 0;
}

.bliz-submenu {
  background-color: $modal;
  display: none;
  left: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 40px;
}

.games-link:hover .menu-games, .games-link:active .menu-games {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featured-games {
  display: flex;
  flex-direction: row;
  padding: 0 40px;
}

.blizzard-games {
  border-right: 1px solid $nav-border-color;
  margin: 20px 0;
  font-size: 13px;
  color: $translucent-text;
  flex-grow: 3;
  padding-right: 20px;
}

.activision-games {
  padding: 20px 0;
  margin: 0;
  font-size: 13px;
  color: $translucent-text;
  margin: 0 auto;
  width: 25%;
  padding-left: 20px;
}

.more-games-links {
  border-top: 1px solid $nav-border-color;
  color: $nav-link-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.more-games-link {
  margin: 0 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  &:hover {
    color: $white;
  }
}

.esports-link:hover .esports-menu {
  display: block;
}

.esports-games {
  display: flex;
  justify-content: center;
}

.esport-item {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.esport-item-link {
  color: $nav-link-color;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    color: $white;
  }

  &:hover .esport-image {
    filter: brightness(1.15) contrast(.9);
  }
}

.esport-image {
  width: 100%;
  margin: 10px 0;
}

.esports-more {
  border-top: 1px solid $nav-border-color;
  display: flex;
  justify-content: center;
}

.navbar-icon {
  margin-right: 5px;
  width: 24px;
  fill: $blizblue;
}

.highlight {
  background:
    url("./assets/nav-top-pattern.png") repeat-x,
    url("./assets/deathwing-bg.jpg") center / cover;
  color: $white;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

.highlight-video {
  display: none;
  height: 720px;
  left: 50%;
  object-fit: cover;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
}

.announcment-container {
  margin: 0;
  padding: 100px 20px 40px 20px;
}

.announcement-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 34px;
  font-weight: 700;
  text-shadow: 0 2px 8px rgba(0,0,0,.8), 0 10px 40px rgba(0,0,0,.6);
}

.announcement-detail {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
  text-shadow: 0 2px 8px rgba(0,0,0,.8), 0 10px 40px rgba(0,0,0,.6);
}

.announcement-button {
  border: 2px solid #ff9f19;
  color: $white;
  margin: 0;
  padding: 0;
  height: 47px;
  background: linear-gradient(rgb(255, 149, 0), rgb(255, 85, 0));
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 1px 4px rgba(0,0,51,.4);
  font-weight: 800;
}

.news {
  background: url("./assets/news-bg.jpg"),#0b0a34;
  background-repeat: repeat-x;
}

.news-container {
  padding: 20px;
  color: $white;
  font-size: 19px;
  font-weight: 700;
}

.news-link-to-all {
  color: $news-link-color;
  font-size: 15px;
  font-weight: 500;
  margin-left: 20px;
  text-decoration: none;
  display: none;

  &:hover {
    text-decoration: underline;
  }
}

.news-articles {
  margin-top: 10px;
}

.article {
  box-sizing: border-box;
  padding-bottom: 20px;
}

.news-articles .article:nth-child(n + 2) {
  .article-inner {
    display: flex;
    height: 80px;
  }

  .article-image {
    width: 35%;
    object-fit: cover;
  }
}

.article-image {
  width: 100%;
  object-fit: cover;
  border: 2px solid rgba(255,255,255,.3);
}

.article-details {
  font-weight: 500;
  padding-left: 10px;
}

.article-header {
  font-size: 18px;
  margin: 5px 0;
  color: rgb(204, 204, 255);
}

.article-date {
  font-size: 13px;
  margin: 5px 0;
  color: #7a7acc;
}

.hots-menu {
  background: linear-gradient(90deg, rgb(0, 51, 153), rgb(51, 0, 153));
  display: flex;
  justify-content: space-between;
}

.hots-nav {
  align-items: center;
  border-image: linear-gradient(90deg, #1443a2, #4d4dd2) 2/2px 0px 2px 2px;
  border-width: 2px;
  border-style: solid;
  display: none;
  flex: 1;
  justify-content: flex-start;
}

.hots-logo {
  background-color: #092e7c;
  background-image: url("./assets/hots-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  border-right: 2px solid #1846aa;
  height: 42px;
  width: 60px;
}

.hots-logo-1280 {
  display: none;
}

.hots-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.hots-link {
  color: $bliz-navbar-color;
  font-weight: 500;
  padding: 0 20px;

  &:hover {
    color: $white;
  }
}

.hots-play-button {
  align-self: stretch;
  background: linear-gradient(rgb(255, 149, 0), rgb(255, 85, 0));
  border: 2px solid #ff9f19;
  color: $white;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
  text-shadow: 0 1px 4px rgba(0,0,51,.4);
  vertical-align: bottom;
  width: 100px;
  display: none;
}

.hots-nav-mobile {
  height: 48px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .icon-menu {
    width: 48px;
    fill: $blizblue;
  }
  .hots-nav-mobile-logo {
    height: 100%;
  }
  .icon-account {
    width: 48px;
    fill: $blizblue;
  }

  .mobile-menu {
    width: 320px;
    background-image: linear-gradient(180deg,#039,#309);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: none;
    flex-direction: column;
    padding-top: 24px;
  }

  .mobile-menu-link:hover .mobile-menu {
    display: flex;
  }
  .mobile-menu-link:hover .mobile-menu-close-link {
    display: block;
  }


  .mobile-menu-close-link {
    position: fixed;
    top: 0;
    left: 286px;
    display: none;
    z-index: 1;
  }

  .mobile-menu-close-button {
    height: 24px;
    padding: 5px;
    fill: $bliz-navbar-color;
  }

  .mobile-menu-logo {
    align-self: center;
    height: 80px;
  }

  .mobile-menu-links {
    padding: 14px;
  }

  .mobile-menu-close-link:hover.mobile-menu-close-link {
    display: none;
  }

  .mobile-menu-close-link:hover+.mobile-menu {
    display: none;
  }

  .mobile-play-button {
    background: linear-gradient(rgb(255, 149, 0), rgb(255, 85, 0));
    border: 2px solid #ff9f19;
    text-align: center;
    width: 260px;
    align-self: center;
    margin-top: 14px;
    color: $bliz-navbar-color;
  }

  .mobile-menu-bliz-logo {
    text-align: center;
    margin-top: 6px;

    .blizlogo-mobile {
      height: 28px;
      fill: $translucent-text;
    }
  }
}

@media (min-width: 480px) {
  .announcment-container {
    padding-top: 180px;
  }
  .announcement-button {
    max-width: 50%;
  }
}

@media (min-width: 640px) {
  .announcment-container {
    padding-top: 300px;
  }
  .announcement-button {
    width: 250px;
  }
  .news-articles {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-between;
  }
  .news-container {
    padding: 24px;
    font-size: 19px;
    font-weight: 700;
  }

  .article {
    width :49%;
  }

  .article-inner {
    box-shadow: 0 0 30px #000;
    box-sizing: border-box;
    border: 1px solid $news-border-color;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    height: 100%;
  }

  .article-image {
    border: none;
  }

  .article-details {
    background: linear-gradient(180deg,#20105d,#320066);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 18px;
    height: 60px
  }

  .news-articles .article:nth-child(n + 2) {

    .article-inner {
      display: flex;
      height: 100%;
    }

    .article-image {
      width: 100%;
      flex-grow: 1;
      margin: 0;
      padding: 0;
    }
  }
}

@media (min-width: 800px) {

  .announcment-container {
    margin: 0;
    padding: 0;
    margin-left: 40px;
    width: 49%;
    position: relative;
    top: 40px;
  }
  .announcement-title {
    font-size: 46px;
  }
  .announcement-detail {
    font-size: 25px;
  }
  .announcement-button {
    width: 286px;
  }

  .bliz-navbar {
    display: flex;
  }

  .highlight {
    background:
    url("./assets/nav-top-pattern.png") repeat-x,
    url("./assets/deathwing-bg.jpg") center / cover;
    height: 720px; // more than 940 // height: 535px; // less than 940
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .highlight-video {
    display: block;
  }

  .hots-menu {
    margin: 0 40px;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
  }

  .hots-play-button {
    display: block;
  }

  .hots-nav {
    display: flex;
  }

  .hots-nav-mobile {
    display: none;
  }

  .news-container {
    padding: 0 40px;
    position: relative;
    top: -105px;
    color: $white;
    font-size: 19px;
    font-weight: 700;
  }

  .news-link-to-all {
    display: inline;
  }
}


@media (min-width: 1280px) {

  .hots-menu {
    height: 50px;
    margin-top: 20px;
  }

  .hots-logo {
    display: none;
  }

  .hots-logo-1280 {
    display: block;
    margin-left: -40px;
  }
  .article {
    box-sizing: border-box;
    width: 25%;
    padding: 0 1vw;
  }
}